.ContactsList {
    height: 100%;
}

.ContactsList .contacts {
    width: 64%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(233, 233, 233);
    overflow-y: scroll;
    overflow-x: hidden;
}

.ContactsList .Contact {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactsList .Contact.draft {
    opacity: .5;
}

.ContactsList .Contact h3 {
    font-size: 16px;
    font-weight: 500;
}

.ContactsList .Contact .info {
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
}